@* @model List<string>

@{
    ViewData["Title"] = "Wybierz kategorię sprzętu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center my-4">Wybierz kategorię sprzętu</h2>

<div class="d-flex flex-wrap justify-content-center">
    @foreach (var category in Model)
    {
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">@category</h5>
                <a href="@Url.Action("SelectEquipment", "Equipments", new { category = category })" class="btn btn-primary">Wybierz</a>
            </div>
        </div>
    }
</div>
 *@