@model List<string>

@{
    ViewData["Title"] = "Wybierz kategorię sprzętu";
}

<h2>Wybierz kategorię sprzętu</h2>

<ul class="list-group">
    @foreach (var category in Model)
    {
        <li class="list-group-item">
            <a href="@Url.Action("SelectEquipment", "Clients", new { category = category })">@category</a>
        </li>
    }
</ul>
