@model ProjektInzynierski.Infrastructure.Models.ReservationDao
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete Reservation";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Usuń rezerwację</h1>

<p>Czy na pewno chcesz usunąć rezerwację dla klienta <strong>@Model.Client.Name</strong> z datą rozpoczęcia <strong>@Model.StartDate.ToShortDateString()</strong>?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Usuń</button>
    <a asp-action="Index">Anuluj</a>
</form>
