@{
    ViewData["Title"] = "Strona Główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Witamy w GearHive</h1>
    <p class="lead">Zarządzaj rezerwacjami sprzętu filmowego szybko i efektywnie.</p>
    <hr class="my-4">
    <p>Wybierz swoją rolę, aby kontynuować.</p>

    <form method="get" action="/Home/SelectRole">
        <div class="btn-group" role="group">
            <button type="submit" name="role" value="users" class="btn btn-primary btn-lg">Jestem pracownikiem</button>
            <button type="submit" name="role" value="clients" class="btn btn-secondary btn-lg">Jestem klientem</button>
        </div>
    </form>
</div>
