@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); 
        z-index: -1;
    }
</style>

<div class="container vh-100 d-flex flex-column justify-content-center align-items-center" style="margin: 0; overflow: hidden;">
    <div class="text-center p-5 mx-auto" style="max-width: 1000px; background-color: rgba(33, 37, 41, 0.9); border-radius: 15px;">
        <h1 style="font-size: 3.5rem; font-weight: bold; color: #FFD700;">Witaj w naszej wypożyczalni!</h1>
        <p class="lead" style="font-size: 1.5rem; color: #ffffff;">Zarejestruj się bądź zaloguj, aby przejść dalej :)</p>
        <div class="mt-4 d-flex justify-content-center">
            <a href="/Users/Login" class="btn btn-yellow btn-lg mx-3" style="font-size: 1.5rem; padding: 1rem 2rem;">Login</a>
            <a href="/Users/Register" class="btn btn-outline-light btn-lg mx-3" style="font-size: 1.5rem; padding: 1rem 2rem;">Register</a>
        </div>
    </div>
</div>
