@{
    ViewData["Title"] = "Rezerwacja potwierdzona";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rezerwacja potwierdzona</h2>
<p>Sprzęt został pomyślnie zarezerwowany.</p>
<a href="@Url.Action("Index", "Equipments")" class="btn btn-primary">Wróć do listy sprzętu</a>
