@model List<ProjektInzynierski.Models.CartItem>

<h2>Twój koszyk</h2>

@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Cena za dzień</th>
                <th>Ilość dni</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.PricePerDay</td>
                    <td>@item.Quantity</td>
                    <td>
                        <form asp-action="RemoveFromCart" method="post">
                            <input type="hidden" name="id" value="@item.EquipmentID" />
                            <button type="submit">Usuń</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form asp-action="CreateReservation" method="post">
        <button type="submit">Zarezerwuj</button>
    </form>
}
else
{
    <p>Twój koszyk jest pusty.</p>
}
