@model ProjektInzynierski.Application.Models.FinalizeCartModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Set Dates for Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Set Reservation Dates</h2>

<form asp-action="SetDates" asp-controller="FinalizeReservation" method="post">
    <div class="form-group">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control" type="date" value="@Model.StartDate.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate" class="control-label"></label>
        <input asp-for="EndDate" class="form-control" type="date" value="@Model.EndDate.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save Dates</button>
</form>