@{
    ViewData["Title"] = "Panel Klienta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Panel Klienta</h1>
    <p class="lead">Przeglądaj dostępny sprzęt i szczegóły jego parametrów.</p>

    <div class="row mt-4">
        <!-- Lista sprzętu -->
        <div class="col-md-6 offset-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Dostępny sprzęt</h5>
                    <p class="card-text">Przeglądaj dostępny sprzęt i szczegóły jego parametrów.</p>
                    <a href="/Equipments" class="btn btn-primary">Przeglądaj sprzęt</a>
                </div>
            </div>
        </div>
    </div>
</div>
