@* @{
    ViewData["Title"] = "Panel Administratora";
}

<h2>Panel administratora</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a href="/Equipments">Zarządzaj sprzętem</a>
    </li>
    <li class="list-group-item">
        <a href="/Reservations">Zarządzaj rezerwacjami</a>
    </li>
    <li class="list-group-item">
        <a href="/Clients">Zarządzaj klientami</a>
    </li>
    <li class="list-group-item">
        <a href="/Users">Zarządzaj użytkownikami</a>
    </li>
</ul>

<form asp-action="Logout" asp-controller="Users" method="post">
    <button type="submit" class="btn btn-danger">Wyloguj się</button>
</form>
 *@