@model ProjektInzynierski.Models.UserLoginModel
@{
    ViewData["Title"] = "Panel zarządzania";
}

<h2>Panel zarządzania</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a href="/Equipments">Zarządzaj sprzętem</a>
    </li>
    <li class="list-group-item">
        <a href="/Reservations">Zarządzaj rezerwacjami</a>
    </li>
    <li class="list-group-item">
        <a href="/Clients">Zarządzaj klientami</a>
    </li>
</ul>
