@model ProjektInzynierski.Application.Models.Users.UserLoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
</style>
<div class="container mt-5">
    <div class="text-center mb-4 p-3 mx-auto">
        <h2 style="font-size: 2.5rem; font-weight: bold;">Zaloguj się</h2>
    </div>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger text-center" style="max-width: 600px; margin: 0 auto;">@TempData["ErrorMessage"]</div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success text-center" style="max-width: 600px; margin: 0 auto;">@TempData["SuccessMessage"]</div>
    }

    <form asp-action="Login" method="post" class="card p-4 shadow-sm">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label for="Username" class="form-label">Email</label>
            <input type="email" name="Username" class="form-control" id="Username" required placeholder="Wpisz swój email" />
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Hasło</label>
            <input type="password" name="Password" class="form-control" id="Password" required placeholder="Wpisz swoje hasło" />
        </div>
        <button type="submit" class="btn btn-primary w-100">Zaloguj się</button>
    </form>

    <div class="text-center mt-5 p-4 mx-auto">
        <p style="font-size: 1.25rem; font-weight: bold;">Nie masz konta?</p>
        <a href="/Users/Register" class="btn btn-warning btn-lg">Zarejestruj się</a>
    </div>
</div>

